@{
    ViewData["Title"] = "Nosotros";
}
<link rel="stylesheet" href="~/css/Nosotros.css" />

<!-- Hero Section -->
<div class="section-visual" style="background-image: url('http://www.vimodarq.com/wp-content/uploads/2023/08/P16.webp');">
    <div class="content">
        <h2>ESTUDIO DE ARQUITECTURA</h2>
        <p>Más de 4 años de experiencia en el mercado formando arquitectos de alto nivel.</p>
    </div>
</div>

<!-- Misión -->
<div class="split-section">
    <div class="image image-mision">
        <img src="https://cdn.pixabay.com/photo/2016/11/24/20/30/floor-plan-1857175_1280.jpg" alt="Misión">
    </div>
    <div class="text">
        <h2>Nuestra Misión</h2>
        <p>Promover la excelencia en arquitectura, especializados en Archicad, Lumion y Photoshop, brindando herramientas y conocimientos esenciales para sobresalir profesionalmente.</p>
    </div>
</div>

<!-- Visión -->
<div class="split-section" style="flex-direction: row-reverse;">
    <div class="image image-vision">
        <img src="https://media.istockphoto.com/id/1289745895/es/foto/arquitecto-masculino-constructor-manitas-en-el-fondo-de-planos-y-obras-de-construcci%C3%B3n-el.jpg?s=2048x2048&w=is&k=20&c=u5DPmm6us3P3hfy3hZPBfhoL40vru8fbKqzLOldgXKQ=" alt="Visión">
    </div>
    <div class="text">
        <h2>Nuestra Visión</h2>
        <p>Expandir nuestra comunidad global, ayudando a estudiantes de todo el mundo a profesionalizarse en arquitectura digital y visualización arquitectónica.</p>
    </div>
</div>
</div>

<!-- CTA final -->
<div class="cta-section-img" style="background-image: url('https://cdn.pixabay.com/photo/2022/01/30/18/53/city-6981953_1280.jpg')">
    <div class="content">
        <h2>¿Listo para llevar tu carrera al siguiente nivel?</h2>
        <p>Descubre nuestros cursos y potencia tu perfil profesional en arquitectura.</p>
        <div class="text-center my-5">
            <a href="@Url.Action("CursosDisponibles", "Tienda")"
               class="custom-btn-hover">
                Explora nuestros cursos
            </a>
        </div>

    </div>
</div>