@{
    ViewBag.Title = "Confirmación de Pago";
}

<div class="text-center mt-5">
    <h2>🎉 PAGO CONFIRMADO</h2>
    <p>@ViewBag.Mensaje</p>

    <a href="/Tienda/CursosDisponibles" class="btn btn-primary mt-3">Volver a cursos</a>
</div>